<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.erban.dxitcompanion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/logo_v2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_v2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".game.activity.SelectPlayersActivity" />
        <activity android:name=".game.activity.SelectObjectivesActivity" />
        <activity android:name=".game.activity.ScoresResultActivity" />
        <activity android:name=".game.turn.activity.SelectStoryTellerActivity" />
        <activity android:name=".game.turn.activity.EveryoneFoundActivity" />
        <activity android:name=".game.turn.activity.EndTurnActivity" />
        <activity android:name=".game.turn.activity.WhoDidFindActivity" />
        <activity android:name=".game.turn.activity.SelectVotesActivity" />
        <activity android:name=".stats.activity.StatsActivity" />
        <activity android:name=".rules.activity.RulesActivity" />
    </application>

</manifest>
